.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  //background-color: #2196F3;
  grid-gap: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item img {
    max-width: 100%;   /* Prevents images from overflowing */
    height: auto;        /* Maintains image aspect ratio */

}
.hidden {
    display: none;
}