/* Basic styling for the entire page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Style for the form container */
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 20px;
}

/* Style for form elements */
div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],input[type="number"],input[type="email"],input[type="date"],input[type="tel"],#country {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for fieldsets */
fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}
fieldset  label, fieldset input[type="radio"] {
    display: inline;
    margin-right: 10px;
}
    
legend {
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 5px;
}

/* Style for submit button */
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Add margin-top for better spacing */
}

button:hover {
    background-color: #0056b3;
}

/* Styles for gender radio buttons */
.gender-fieldset label {
    display: inline-block;
    margin-right: 10px;
}

/* Styles for password container and toggle icon */
.password-container {
    position: relative;
    align-items: center;
}

.password-toggle {
    position: absolute;
    right: 15px;
    margin: 9px;
}

/* Hidden class for password requirements */
.hidden {
    display: none;
}

/* Styles for password requirements */
#passwordRequirements {
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#passwordRequirements ul {
    list-style-type: none;
    padding: 0;
}

#passwordRequirements li {
    margin-bottom: 5px;
}

#passwordRequirements li.valid::before {
    content: "✔";
    color: green;
    margin-right: 5px;
}

#passwordRequirements li::before {
    content: "✖";
    color: red;
    margin-right: 5px;
}

/* Style for error messages */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Styles for checkbox container */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}
.checkbox-container label {
    margin: 0;
}
.strong-password { 
    color: green;
}
.weak-password { 
    color: red;
}
#msgPassword {
    font-size: 18px;
    margin-top: 5px;
}